Repository w-pinkietech/Yokakit_Replay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @w-pinkietech/yokakit-admins, @w-pinkietech/phase-0-leads, @w-pinkietech/documentation-team, @w-pinkietech/phase-1-leads, @w-pinkietech/phase-2-leads, @w-pinkietech/phase-3-leads, @w-pinkietech/phase-4-leads, @w-pinkietech/phase-5-leads, @w-pinkietech/security-team, @w-pinkietech/submodule-maintainers, @w-pinkietech/dependency-managers, @w-pinkietech/emergency-response, @w-pinkietech/history-preservers

.github/CODEOWNERS:

# YokaKit_Replay CODEOWNERS
# This file defines code ownership for the YokaKit_Replay project
# Phase-based ownership aligns with constitutional requirements

# Global fallback - repository administrators
* @w-pinkietech/yokakit-admins

# Constitutional and governance files
/memory/constitution.md @w-pinkietech/yokakit-admins
/.specify/ @w-pinkietech/yokakit-admins
/CLAUDE.md @w-pinkietech/yokakit-admins

# Phase 0: Repository Infrastructure
/.github/ @w-pinkietech/phase-0-leads @w-pinkietech/yokakit-admins
/specs/001-implement-phase-0/ @w-pinkietech/phase-0-leads
/docs/ @w-pinkietech/phase-0-leads @w-pinkietech/documentation-team

# Phase 1: Docker + Laravel (future phase)
/docker/ @w-pinkietech/phase-1-leads
/docker-compose*.yml @w-pinkietech/phase-1-leads
/Dockerfile* @w-pinkietech/phase-1-leads

# Phase 2: CI/CD Pipeline (future phase)
/.github/workflows/ @w-pinkietech/phase-2-leads @w-pinkietech/phase-0-leads
/scripts/deployment/ @w-pinkietech/phase-2-leads

# Phase 3: Testing & Quality (future phase)
/tests/ @w-pinkietech/phase-3-leads
/phpunit.xml @w-pinkietech/phase-3-leads
/jest.config.js @w-pinkietech/phase-3-leads
/.eslintrc* @w-pinkietech/phase-3-leads
/phpcs.xml @w-pinkietech/phase-3-leads

# Phase 4: WebSocket & MQTT (future phase)
/websockets/ @w-pinkietech/phase-4-leads
/mqtt/ @w-pinkietech/phase-4-leads
/realtime/ @w-pinkietech/phase-4-leads

# Phase 5: Security & Performance (future phase)
/security/ @w-pinkietech/phase-5-leads
/performance/ @w-pinkietech/phase-5-leads
/.github/workflows/security-*.yml @w-pinkietech/phase-5-leads @w-pinkietech/security-team

# Submodules - require constitutional compliance review
/YokaKit/ @w-pinkietech/yokakit-admins @w-pinkietech/submodule-maintainers
/pinkieit/ @w-pinkietech/yokakit-admins @w-pinkietech/submodule-maintainers
/.gitmodules @w-pinkietech/yokakit-admins

# Documentation - requires documentation team review
README.md @w-pinkietech/documentation-team @w-pinkietech/yokakit-admins
CHANGELOG.md @w-pinkietech/documentation-team
/docs/*.md @w-pinkietech/documentation-team

# Package management files
package.json @w-pinkietech/dependency-managers @w-pinkietech/yokakit-admins
package-lock.json @w-pinkietech/dependency-managers
composer.json @w-pinkietech/dependency-managers @w-pinkietech/yokakit-admins
composer.lock @w-pinkietech/dependency-managers

# Configuration files requiring admin approval
.env.example @w-pinkietech/yokakit-admins
.env.* @w-pinkietech/yokakit-admins
config/ @w-pinkietech/yokakit-admins
.editorconfig @w-pinkietech/yokakit-admins

# Git configuration
.gitignore @w-pinkietech/yokakit-admins
.gitattributes @w-pinkietech/yokakit-admins

# Security sensitive files
/.github/workflows/security-*.yml @w-pinkietech/security-team @w-pinkietech/yokakit-admins
/.github/dependabot.yml @w-pinkietech/security-team @w-pinkietech/dependency-managers
/scripts/security/ @w-pinkietech/security-team

# Emergency override for critical hotfixes
# These patterns allow emergency commits with broader approval
/hotfix/ @w-pinkietech/emergency-response @w-pinkietech/yokakit-admins

# Constitutional compliance exceptions
# Files that preserve PinkieIt historical context (read-only)
/pinkieit/**/* @w-pinkietech/history-preservers @w-pinkietech/yokakit-admins

docs: Phase 4 implementation planning complete
  specs/005-phase-4-e0eaabd/contracts/composer.contract.md
  specs/005-phase-4-e0eaabd/contracts/devcontainer.contract.md
  specs/005-phase-4-e0eaabd/contracts/reverb.contract.md
  specs/005-phase-4-e0eaabd/data-model.md
  specs/005-phase-4-e0eaabd/plan.md
  specs/005-phase-4-e0eaabd/quickstart.md
  specs/005-phase-4-e0eaabd/research.md
  specs/005-phase-4-e0eaabd/tasks.md
Owners: @w-pinkietech/yokakit-admins

docs: Phase 4 implementation planning complete (#32)
  specs/005-phase-4-e0eaabd/contracts/composer.contract.md
  specs/005-phase-4-e0eaabd/contracts/devcontainer.contract.md
  specs/005-phase-4-e0eaabd/contracts/reverb.contract.md
  specs/005-phase-4-e0eaabd/data-model.md
  specs/005-phase-4-e0eaabd/plan.md
  specs/005-phase-4-e0eaabd/quickstart.md
  specs/005-phase-4-e0eaabd/research.md
  specs/005-phase-4-e0eaabd/tasks.md
Owners: @w-pinkietech/yokakit-admins

docs: update Phase 4 completion status and add unified implementation guidance
  CLAUDE.md
  README.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

docs: add Phase 3 Comprehensive Testing completion report
  PHASE_3_COMPLETION_REPORT.md
Owners: @w-pinkietech/yokakit-admins

docs: add Phase 4 Framework Modernization & DevContainer completion report
  PHASE_4_COMPLETION_REPORT.md
Owners: @w-pinkietech/yokakit-admins

docs: update CLAUDE.md for Phase 4 completion
  CLAUDE.md
Owners: @w-pinkietech/yokakit-admins

Phase 4: Framework Modernization & DevContainer - Completion (#35)
  CLAUDE.md
  PHASE_3_COMPLETION_REPORT.md
  PHASE_4_COMPLETION_REPORT.md
  README.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

docs: update README.md for Phase 4 completion
  README.md
Owners: @w-pinkietech/documentation-team, @w-pinkietech/yokakit-admins

docs: add critical development guidelines to CLAUDE.md
  CLAUDE.md
Owners: @w-pinkietech/yokakit-admins

docs: update README.md for Phase 4 completion (#36)
  CLAUDE.md
  README.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

docs: Phase 5 Multi-Architecture Docker Support - implementation complete
  CLAUDE.md
  specs/006-phase-5-multi/contracts/dockerfile.contract.md
  specs/006-phase-5-multi/data-model.md
  specs/006-phase-5-multi/plan.md
  specs/006-phase-5-multi/quickstart.md
  specs/006-phase-5-multi/research.md
  specs/006-phase-5-multi/spec.md
  specs/006-phase-5-multi/tasks.md
Owners: @w-pinkietech/yokakit-admins

chore: Phase 5 completion - update YokaKit submodule to c6c06a6
  CLAUDE.md
Owners: @w-pinkietech/yokakit-admins

docs: Phase 5 Multi-Architecture Docker Support - implementation complete (#37)
  CLAUDE.md
  specs/006-phase-5-multi/contracts/dockerfile.contract.md
  specs/006-phase-5-multi/data-model.md
  specs/006-phase-5-multi/plan.md
  specs/006-phase-5-multi/quickstart.md
  specs/006-phase-5-multi/research.md
  specs/006-phase-5-multi/spec.md
  specs/006-phase-5-multi/tasks.md
Owners: @w-pinkietech/yokakit-admins

chore: Phase 5 completion - update YokaKit submodule to c6c06a6
  CLAUDE.md
  README.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

chore: Phase 5 completion - update YokaKit submodule to c6c06a6 (#39)
  CLAUDE.md
  README.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

docs: Phase 6 CI/CD Pipeline implementation (workflows + documentation)
  CLAUDE.md
  README.md
  specs/007-phase-6-cicd/contracts/cache-cleanup-workflow.contract.md
  specs/007-phase-6-cicd/contracts/docker-build-workflow.contract.md
  specs/007-phase-6-cicd/contracts/docker-publish-workflow.contract.md
  specs/007-phase-6-cicd/data-model.md
  specs/007-phase-6-cicd/plan.md
  specs/007-phase-6-cicd/quickstart.md
  specs/007-phase-6-cicd/research.md
  specs/007-phase-6-cicd/spec.md
  specs/007-phase-6-cicd/tasks.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

docs: clarify Phase 6 scope and add Phase 7 UI Modernization plan
  README.md
Owners: @w-pinkietech/documentation-team, @w-pinkietech/yokakit-admins

docs: Phase 6 CI/CD Pipeline completion report
  CLAUDE.md
Owners: @w-pinkietech/yokakit-admins

Phase 6: CI/CD Pipeline Planning & Documentation (#40)
  CLAUDE.md
  README.md
  specs/007-phase-6-cicd/contracts/cache-cleanup-workflow.contract.md
  specs/007-phase-6-cicd/contracts/docker-build-workflow.contract.md
  specs/007-phase-6-cicd/contracts/docker-publish-workflow.contract.md
  specs/007-phase-6-cicd/data-model.md
  specs/007-phase-6-cicd/plan.md
  specs/007-phase-6-cicd/quickstart.md
  specs/007-phase-6-cicd/research.md
  specs/007-phase-6-cicd/spec.md
  specs/007-phase-6-cicd/tasks.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

docs: Phase 7 preparation - AdminLTE 4 availability discovery
  CLAUDE.md
  README.md
  docs/analysis/phase-7-adminlte4-discovery.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team, @w-pinkietech/phase-0-leads

docs: CORRECTION - Phase 7 strategy to Bootstrap 4 + Laravel-AdminLTE 3.15.x
  CLAUDE.md
  README.md
  docs/analysis/phase-7-adminlte4-discovery.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team, @w-pinkietech/phase-0-leads

docs: Split Phase 7 into 7A (Framework Upgrade) and 7B (UI Modernization)
  CLAUDE.md
  README.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

chore: update YokaKit submodule and add SonarQube MCP config
  .mcp.json
Owners: @w-pinkietech/yokakit-admins

docs: add YokaKit login UI screenshots and demo GIF
  statics/images/success-1-initial.png
  statics/images/success-2-form-filled.png
  statics/images/success-3-dashboard.png
  statics/images/yokakit-login-screenshot.png
  statics/images/yokakit-login-success.gif
Owners: @w-pinkietech/yokakit-admins

docs: add comprehensive testing documentation and update MCP config
  .gitignore
  .mcp.json
  docs/testing/AI_DRIVEN_TEST_DEVELOPMENT_WORKFLOW.md
  docs/testing/HUMAN_REQUIRED_TESTING_GUIDE.md
  docs/testing/PHPUNIT_VS_SONARQUBE_COMPARISON.md
  docs/testing/README.md
  docs/testing/SOFTWARE_TESTING_TYPES_GUIDE.md
  docs/testing/TEST_QUALITY_VALIDATION_GUIDE.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/phase-0-leads, @w-pinkietech/documentation-team
