Repository w-pinkietech/Yokakit_Replay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @w-pinkietech/yokakit-admins, @w-pinkietech/phase-0-leads, @w-pinkietech/documentation-team, @w-pinkietech/phase-1-leads, @w-pinkietech/phase-2-leads, @w-pinkietech/phase-3-leads, @w-pinkietech/phase-4-leads, @w-pinkietech/phase-5-leads, @w-pinkietech/security-team, @w-pinkietech/submodule-maintainers, @w-pinkietech/dependency-managers, @w-pinkietech/emergency-response, @w-pinkietech/history-preservers

.github/CODEOWNERS:

# YokaKit_Replay CODEOWNERS
# This file defines code ownership for the YokaKit_Replay project
# Phase-based ownership aligns with constitutional requirements

# Global fallback - repository administrators
* @w-pinkietech/yokakit-admins

# Constitutional and governance files
/memory/constitution.md @w-pinkietech/yokakit-admins
/.specify/ @w-pinkietech/yokakit-admins
/CLAUDE.md @w-pinkietech/yokakit-admins

# Phase 0: Repository Infrastructure
/.github/ @w-pinkietech/phase-0-leads @w-pinkietech/yokakit-admins
/specs/001-implement-phase-0/ @w-pinkietech/phase-0-leads
/docs/ @w-pinkietech/phase-0-leads @w-pinkietech/documentation-team

# Phase 1: Docker + Laravel (future phase)
/docker/ @w-pinkietech/phase-1-leads
/docker-compose*.yml @w-pinkietech/phase-1-leads
/Dockerfile* @w-pinkietech/phase-1-leads

# Phase 2: CI/CD Pipeline (future phase)
/.github/workflows/ @w-pinkietech/phase-2-leads @w-pinkietech/phase-0-leads
/scripts/deployment/ @w-pinkietech/phase-2-leads

# Phase 3: Testing & Quality (future phase)
/tests/ @w-pinkietech/phase-3-leads
/phpunit.xml @w-pinkietech/phase-3-leads
/jest.config.js @w-pinkietech/phase-3-leads
/.eslintrc* @w-pinkietech/phase-3-leads
/phpcs.xml @w-pinkietech/phase-3-leads

# Phase 4: WebSocket & MQTT (future phase)
/websockets/ @w-pinkietech/phase-4-leads
/mqtt/ @w-pinkietech/phase-4-leads
/realtime/ @w-pinkietech/phase-4-leads

# Phase 5: Security & Performance (future phase)
/security/ @w-pinkietech/phase-5-leads
/performance/ @w-pinkietech/phase-5-leads
/.github/workflows/security-*.yml @w-pinkietech/phase-5-leads @w-pinkietech/security-team

# Submodules - require constitutional compliance review
/YokaKit/ @w-pinkietech/yokakit-admins @w-pinkietech/submodule-maintainers
/pinkieit/ @w-pinkietech/yokakit-admins @w-pinkietech/submodule-maintainers
/.gitmodules @w-pinkietech/yokakit-admins

# Documentation - requires documentation team review
README.md @w-pinkietech/documentation-team @w-pinkietech/yokakit-admins
CHANGELOG.md @w-pinkietech/documentation-team
/docs/*.md @w-pinkietech/documentation-team

# Package management files
package.json @w-pinkietech/dependency-managers @w-pinkietech/yokakit-admins
package-lock.json @w-pinkietech/dependency-managers
composer.json @w-pinkietech/dependency-managers @w-pinkietech/yokakit-admins
composer.lock @w-pinkietech/dependency-managers

# Configuration files requiring admin approval
.env.example @w-pinkietech/yokakit-admins
.env.* @w-pinkietech/yokakit-admins
config/ @w-pinkietech/yokakit-admins
.editorconfig @w-pinkietech/yokakit-admins

# Git configuration
.gitignore @w-pinkietech/yokakit-admins
.gitattributes @w-pinkietech/yokakit-admins

# Security sensitive files
/.github/workflows/security-*.yml @w-pinkietech/security-team @w-pinkietech/yokakit-admins
/.github/dependabot.yml @w-pinkietech/security-team @w-pinkietech/dependency-managers
/scripts/security/ @w-pinkietech/security-team

# Emergency override for critical hotfixes
# These patterns allow emergency commits with broader approval
/hotfix/ @w-pinkietech/emergency-response @w-pinkietech/yokakit-admins

# Constitutional compliance exceptions
# Files that preserve PinkieIt historical context (read-only)
/pinkieit/**/* @w-pinkietech/history-preservers @w-pinkietech/yokakit-admins

docs: add GitHub commit IDs to PinkieIt development timeline
  docs/analysis/README.md
  docs/analysis/RESPONSIBILITY_MATRIX.md
  docs/analysis/current-state/yokakit-current-state-analysis.md
  docs/analysis/quality-assurance/document-inconsistencies-analysis.md
  docs/analysis/timeline/development-timeline-analysis.md
  docs/analysis/timeline/pinkieit-development-timeline.md
Owners: @w-pinkietech/documentation-team, @w-pinkietech/yokakit-admins, @w-pinkietech/phase-0-leads

docs: add GitHub commit IDs to PinkieIt development timeline only
  docs/analysis/timeline/pinkieit-development-timeline.md
Owners: @w-pinkietech/phase-0-leads, @w-pinkietech/documentation-team

docs: add GitHub commit IDs to PinkieIt development timeline
  docs/analysis/timeline/pinkieit-development-timeline.md
Owners: @w-pinkietech/phase-0-leads, @w-pinkietech/documentation-team

docs: add comprehensive analysis documentation suite
  docs/analysis/README.md
  docs/analysis/RESPONSIBILITY_MATRIX.md
  docs/analysis/current-state/yokakit-current-state-analysis.md
  docs/analysis/quality-assurance/document-inconsistencies-analysis.md
  docs/analysis/timeline/development-timeline-analysis.md
Owners: @w-pinkietech/documentation-team, @w-pinkietech/yokakit-admins, @w-pinkietech/phase-0-leads

docs: add comprehensive analysis documentation suite (#13)
  docs/analysis/README.md
  docs/analysis/RESPONSIBILITY_MATRIX.md
  docs/analysis/current-state/yokakit-current-state-analysis.md
  docs/analysis/quality-assurance/document-inconsistencies-analysis.md
  docs/analysis/timeline/development-timeline-analysis.md
Owners: @w-pinkietech/documentation-team, @w-pinkietech/yokakit-admins, @w-pinkietech/phase-0-leads

feat: implement GitHub management system with constitutional formalization
  .serena/logs/health-checks/health_check_20250927-140041.log
  CLAUDE.md
  README.md
  docs/github-management/ISSUE_MILESTONE_GUIDE.md
  docs/github-management/LABEL_GUIDE.md
  docs/github-management/README.md
  memory/constitution.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team, @w-pinkietech/phase-0-leads

fix: add language tag to hierarchy code block in GitHub management README
  docs/github-management/README.md
Owners: @w-pinkietech/documentation-team, @w-pinkietech/yokakit-admins

feat: implement GitHub management system with constitutional formalization (#17)
  .serena/logs/health-checks/health_check_20250927-140041.log
  CLAUDE.md
  README.md
  docs/github-management/ISSUE_MILESTONE_GUIDE.md
  docs/github-management/LABEL_GUIDE.md
  docs/github-management/README.md
  memory/constitution.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team, @w-pinkietech/phase-0-leads

feat: complete Phase 1 Docker Foundation planning and repository architecture documentation
  CLAUDE.md
  README.md
  specs/002-phase-1-docker/contracts/devcontainer.contract.json
  specs/002-phase-1-docker/contracts/docker-compose.contract.yml
  specs/002-phase-1-docker/contracts/github-labels.contract.yml
  specs/002-phase-1-docker/contracts/validation-scripts.contract.yml
  specs/002-phase-1-docker/data-model.md
  specs/002-phase-1-docker/plan.md
  specs/002-phase-1-docker/quickstart.md
  specs/002-phase-1-docker/research.md
  specs/002-phase-1-docker/spec.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

feat: add GitHub management scripts for YokaKit repository setup
  scripts/github/setup-yokakit-labels.sh
  scripts/github/setup-yokakit-milestones.sh
Owners: @w-pinkietech/yokakit-admins

feat: generate Phase 1 implementation tasks (48 tasks, 4 weeks)
  specs/002-phase-1-docker/tasks.md
Owners: @w-pinkietech/yokakit-admins

fix: revise Phase 1 tasks to match actual PinkieIt commit history
  specs/002-phase-1-docker/tasks.md
Owners: @w-pinkietech/yokakit-admins

docs: add critical spec creation guidelines from Phase 1 lessons
  CLAUDE.md
  README.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

docs: mark T001-T024 as completed in tasks.md
  specs/002-phase-1-docker/tasks.md
Owners: @w-pinkietech/yokakit-admins

docs: mark T033-T036 as completed in tasks.md
  specs/002-phase-1-docker/tasks.md
Owners: @w-pinkietech/yokakit-admins

docs: fix Phase 1 scope in tasks.md - remove out-of-scope tasks
  specs/002-phase-1-docker/tasks.md
Owners: @w-pinkietech/yokakit-admins

chore: update submodules and mcp config
  .mcp.json
Owners: @w-pinkietech/yokakit-admins

feat: adapt /specify and /clarify commands for commit-based replay
  .claude/commands/clarify.md
  .claude/commands/specify.md
Owners: @w-pinkietech/yokakit-admins

feat: complete command adaptation for commit-based replay
  .claude/commands/analyze.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/tasks.md
Owners: @w-pinkietech/yokakit-admins

feat: adapt /analyze for constitutional compliance validation
  .claude/commands/analyze.md
Owners: @w-pinkietech/yokakit-admins

refactor: consolidate project infrastructure under .specify/
  .claude/commands/constitution.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/scripts/github/setup-yokakit-labels.sh
  .specify/scripts/github/setup-yokakit-milestones.sh
  .specify/scripts/validate-phase-0-completion.sh
  .specify/templates/agent-file-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Owners: @w-pinkietech/yokakit-admins

Command System Adaptation for Commit-Based Replay (#19)
  .claude/commands/analyze.md
  .claude/commands/clarify.md
  .claude/commands/constitution.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/specify.md
  .claude/commands/tasks.md
  .mcp.json
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/scripts/github/setup-yokakit-labels.sh
  .specify/scripts/github/setup-yokakit-milestones.sh
  .specify/scripts/validate-phase-0-completion.sh
  .specify/templates/agent-file-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  CLAUDE.md
  README.md
  specs/002-phase-1-docker/contracts/devcontainer.contract.json
  specs/002-phase-1-docker/contracts/docker-compose.contract.yml
  specs/002-phase-1-docker/contracts/github-labels.contract.yml
  specs/002-phase-1-docker/contracts/validation-scripts.contract.yml
  specs/002-phase-1-docker/data-model.md
  specs/002-phase-1-docker/plan.md
  specs/002-phase-1-docker/quickstart.md
  specs/002-phase-1-docker/research.md
  specs/002-phase-1-docker/spec.md
  specs/002-phase-1-docker/tasks.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

feat: update /specify command to generate spec-template compliant output
  .claude/commands/specify.md
  specs/003-phase-2-docker/spec.md
Owners: @w-pinkietech/yokakit-admins

refactor: restore original command framework structure with YokaKit adaptations
  .claude/commands/clarify.md
  .claude/commands/plan.md
  .claude/commands/specify.md
  .claude/commands/tasks.md
Owners: @w-pinkietech/yokakit-admins

refactor: restructure spec.md to follow spec-template.md compliance
  specs/003-phase-2-docker/spec.md
Owners: @w-pinkietech/yokakit-admins

docs: update README and CLAUDE with Phase 2 completion status
  CLAUDE.md
  README.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

docs: align constitution, README, and CLAUDE on DevContainer phase placement
  .specify/memory/constitution.md
  CLAUDE.md
  README.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

docs: add PinkieIt complete commit and PR history reference
  .specify/memory/pinkieit-commit-pr-history.md
  CLAUDE.md
  README.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

docs: add PinkieIt complete commit and PR history reference (#28)
  .specify/memory/pinkieit-commit-pr-history.md
  CLAUDE.md
  README.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

docs: add Phase 2 Docker Architecture Optimization specification
  specs/003-phase-2-docker/contracts/compose.contract.md
  specs/003-phase-2-docker/contracts/dockerfile.contract.md
  specs/003-phase-2-docker/contracts/dockerignore.contract.md
  specs/003-phase-2-docker/data-model.md
  specs/003-phase-2-docker/plan.md
  specs/003-phase-2-docker/quickstart.md
  specs/003-phase-2-docker/research.md
  specs/003-phase-2-docker/tasks.md
Owners: @w-pinkietech/yokakit-admins

docs: add Phase 2 completion report and update status
  CLAUDE.md
  README.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

docs: add Phase 3 Comprehensive Testing specification
  specs/004-phase-3-comprehensive/contracts/env-test.contract.md
  specs/004-phase-3-comprehensive/contracts/phpunit.contract.md
  specs/004-phase-3-comprehensive/contracts/sonar-project.contract.md
  specs/004-phase-3-comprehensive/data-model.md
  specs/004-phase-3-comprehensive/plan.md
  specs/004-phase-3-comprehensive/quickstart.md
  specs/004-phase-3-comprehensive/research.md
  specs/004-phase-3-comprehensive/spec.md
  specs/004-phase-3-comprehensive/tasks.md
Owners: @w-pinkietech/yokakit-admins

docs: add testing commands to CLAUDE.md
  CLAUDE.md
Owners: @w-pinkietech/yokakit-admins

docs: update CLAUDE.md for Phase 3 completion
  CLAUDE.md
Owners: @w-pinkietech/yokakit-admins

docs: update README.md for Phase 3 completion
  README.md
Owners: @w-pinkietech/documentation-team, @w-pinkietech/yokakit-admins

Phase 3 Comprehensive Testing - Complete (425/425 tests) (#29)
  .claude/commands/clarify.md
  .claude/commands/plan.md
  .claude/commands/specify.md
  .claude/commands/tasks.md
  .specify/memory/constitution.md
  CLAUDE.md
  README.md
  specs/003-phase-2-docker/contracts/compose.contract.md
  specs/003-phase-2-docker/contracts/dockerfile.contract.md
  specs/003-phase-2-docker/contracts/dockerignore.contract.md
  specs/003-phase-2-docker/data-model.md
  specs/003-phase-2-docker/plan.md
  specs/003-phase-2-docker/quickstart.md
  specs/003-phase-2-docker/research.md
  specs/003-phase-2-docker/spec.md
  specs/003-phase-2-docker/tasks.md
  specs/004-phase-3-comprehensive/contracts/env-test.contract.md
  specs/004-phase-3-comprehensive/contracts/phpunit.contract.md
  specs/004-phase-3-comprehensive/contracts/sonar-project.contract.md
  specs/004-phase-3-comprehensive/data-model.md
  specs/004-phase-3-comprehensive/plan.md
  specs/004-phase-3-comprehensive/quickstart.md
  specs/004-phase-3-comprehensive/research.md
  specs/004-phase-3-comprehensive/spec.md
  specs/004-phase-3-comprehensive/tasks.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team

docs: consolidate Phase completion reports to YokaKit_Replay
  PHASE2_FIXES_NEEDED.md
  PHASE_1_COMPLETION_REPORT.md
  PHASE_2_COMPLETION_REPORT.md
Owners: @w-pinkietech/yokakit-admins

spec: add Phase 4 Framework Modernization & DevContainer specification
  specs/005-phase-4-e0eaabd/spec.md
Owners: @w-pinkietech/yokakit-admins

Phase 4: Framework Modernization & DevContainer Specification (#30)
  PHASE2_FIXES_NEEDED.md
  PHASE_1_COMPLETION_REPORT.md
  PHASE_2_COMPLETION_REPORT.md
  specs/005-phase-4-e0eaabd/spec.md
Owners: @w-pinkietech/yokakit-admins

docs: update Phase 4 completion status and add unified implementation guidance
  CLAUDE.md
  README.md
Owners: @w-pinkietech/yokakit-admins, @w-pinkietech/documentation-team
